button {
  font-size: 50px;
  /* align-items: center; */
  background-color: coral;
  padding: 15px 30px;
  color: white;
  width: 100px;
}

.counter {
  border-width: 10px;
  margin:10px auto;
  width: 500px;
  height: 650px;
  border-color: yellow;
  border: 5px darkblue solid;
  background-color: gray;
}

.resetButton {
  background-color: brown;
  width: 200px;
}
